    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>


    <div class="container mt-5">
        <h3>The current temperature is <%=@current_temp%> and conditions are <%=@current_conditions%></h3>
        <a href="/" class="btn btn-primary">Set New Location!</a>
      </form>
    </div>

    <div class="container mt-5">
        <h3>Tomorrow's high will be <%=@forecast_temp1%> and will have <%=@forecast_conditions1%></h3>
        <div>
        <h3>Followed by a high of <%=@forecast_temp2%> and <%=@forecast_temp3%> on the subsequent days</h3>
        
      </form>
    </div>

    <div class="container mt-5">
      <h1>News!</h1>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-6">
        <img src='<%=@headline_1_photo%>' width="500" height="300" />
        </div>
        <div class="col-md-6">
        <h4><%=@headline_1%></h4>
        <a href="<%=@headline_1_url%>"> <%=@headline_1_url%> </a>
        </div>
    </div>
    <p>
    <div class="row">
        <div class="col-md-6">
        <h4><%=@headline_2%></h4>
        <a href="<%=@headline_2_url%>"> <%=@headline_2_url%> </a>
        </div>
        <div class="col-md-6">
        <img src='<%=@headline_2_photo%>' width="500" height="300" />
        </div>   
    </div>
    <p>
        <div class="row">
        <div class="col-md-6">
        <img src='<%=@headline_3_photo%>' width="500" height="300" />
        </div>
        <div class="col-md-6">
        <h4><%=@headline_3%></h4>
        <a href="<%=@headline_3_url%>"> <%=@headline_3_url%> </a>
        </div>
    </div>
    <p>
    <div class="row">
        <div class="col-md-6">
        <h4><%=@headline_4%></h4>
        <a href="<%=@headline_4_url%>"> <%=@headline_4_url%> </a>
        </div>
        <div class="col-md-6">
        <img src='<%=@headline_4_photo%>' width="500" height="300" />
        </div>
    </div>
    <p>
    <div class="row">
        <div class="col-md-6">
        <img src='<%=@headline_5_photo%>' width="500" height="300" />
        </div>
        <div class="col-md-6">
        <h4><%=@headline_5%></h4>
        <a href="<%=@headline_5_url%>"> <%=@headline_5_url%> </a>
        </div>
    </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>